# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3

# Redis dump
dump.rdb

# Python build
build/
dist/
*.egg-info/

# Docker
docker-data/

# Testing
.coverage
.pytest_cache/